<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update A User</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>



<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">Add Student</a>
    </div>
    <div class="form-add-new">
        <form action="/update-user" method="post">


            <fieldset>
                <legend>Update a student</legend>
                <div class="input-group d-none">
                    <label>Id:</label>
                    <input type="text" name="userId" value="<%=userEdit.id %>" />
                </div>
                <div class="input-group">
                    <label>Email:</label>
                    <input type="text" name="email" value="<%=userEdit.email %>" />
                </div>
                <div class="input-group">
                    <label>Name:</label>
                    <input type="text" name="myname" value="<%=userEdit.name %>" />

                </div>
                <div class="input-group">
                    <label>City:</label>
                    <input type="text" name="mycity" value="<%=userEdit.city %>" />
                </div>
                <div>
                    <button> Save </button>
                </div>

            </fieldset>
        </form>
    </div>


</body>

</html>